{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <title>Home</title>
</head>

<body>
<div class="upper">
    <a href="/"><h1 style="color: white; margin: auto; padding-top: 30px; padding-left: 30px; font-family: Arial, sans-serif;">Charger</h1></a>
</div>
<div id="map"></div>

{% include 'filter/index.html.twig' %}

<div class="location">
    <h1 id="loc">Location name is: </h1>
    <p id="spots">Total spots: </p>
    <p id="spots1">Type 1 spots: </p>
    <p id="spots2">Type 2 spots: </p>
    <p id="spots_e1">Type 1 empty spots: </p>
    <p id="spots_e2">Type 2 empty spots: </p>
</div>

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

    let long = 25, lat = 45.95, zoom = 7;
    {% if locations|length < 15 %}
        long = {{ locations|first.getLongitude }};
        lat = {{ locations|first.getLatitude }};
        zoom = 12;
    {% endif %}

    let map = GenerateMap(long, lat, zoom);

    document.getElementById("loc").innerHTML = "Location name is: " + "{{ locations|first.getName }}";
    document.getElementById("spots").innerHTML = "Total spots: " + {{ total_typesarr|first }};
    document.getElementById("spots1").innerHTML = "Type 1 spots: " + {{ type1arr|first }};
    document.getElementById("spots2").innerHTML = "Type 2 spots: " + {{ type2arr|first }};

    {% for location in locations %}
        PlaceMarkersMap(map, {{ location.getLongitude }}, {{ location.getLatitude }}, "{{ location.getName }}", {{ type1arr[loop.index0] }}, {{ type2arr[loop.index0] }}, {{ total_typesarr[loop.index0] }});
    {% endfor %}
</script>
</body>

{% endblock %}
