{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
        <title>Home</title>
    </head>

    <body>

    {% include 'nav/index.html.twig' %}

    <div id="map"></div>

    {% include 'filter/index.html.twig' %}

    <div class="wrapper border rounded" style="overflow-y: scroll; height: 70vh; width: 60vw;">
        {% for location in locations %}
            <div class="border rounded" style="padding: 30px">
                <h2>{{ location.getName }}</h2>
                <h6 style="font-weight:normal">Type 1 spots: {{ type1arr[loop.index0] }}</h6>
                <h6 style="font-weight:normal">Type 2 spots: {{ type2arr[loop.index0] }}</h6>
                <h6 style="font-weight:normal">Total spots: {{ total_typesarr[loop.index0] }}</h6>
                <a class="btn btn-primary mt-md-2" href="/booking/{{ location.getId }}">
                    Book
                </a>
            </div>
        {% endfor %}
    </div>

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        let long = 25, lat = 45.95, zoom = 7;
        {% if locations|length < 15 %}
        long = {{ locations|first.getLongitude }};
        lat = {{ locations|first.getLatitude }};
        zoom = 12;
        {% endif %}

        let map = GenerateMap(long, lat, zoom);
        {% for location in locations %}
        PlaceMarkersMap(map, {{ location.getLongitude }}, {{ location.getLatitude }}, "{{ location.getName }}", {{ type1arr[loop.index0] }}, {{ type2arr[loop.index0] }}, {{ total_typesarr[loop.index0] }}, {{ location.getId }});
        {% endfor %}
    </script>
    </body>

    {% include 'footer/index.html.twig' %}

{% endblock %}
